/* https: */

@font-face {
	font-family: 'iconfont';
	/* project id 1298193 */
	src: url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.eot');
	src: url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.eot?#iefix') format('embedded-opentype'),
		url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.woff2') format('woff2'),
		url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.woff') format('woff'),
		url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.ttf') format('truetype'),
		url('https://at.alicdn.com/t/font_1298193_wcyhvpvcxpo.svg#iconfont') format('svg');
}


.iconfont {
	font-family: iconfont;
}
